.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  height: 100%;


  &__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;

    &__title {
      & h2 {
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
    }

    &__suppress, &__validate {
      align-self: flex-end;
      color: red;
      padding: 0 0.7rem;
      border-radius: 25px;
      background: transparent;
      border: 1px solid var(--ion-color-light);

      & h2 {
        font-size: 0.9rem;
        text-transform: uppercase;

      }
    }

    &__suppress {
      border-color: transparent;
    }

    &.validateButtonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 0;
      padding-left: 0;
      width: 100%;
      bottom: 0;
    }

    &__validate {
      color: var(--ion-color-dark);
      border: 1px solid var(--ion-color-dark);
      background: var(--ion-background-color);
      border-radius: 0;
      width: 100%;
      align-self: unset;
      position: sticky;
      bottom: 0;
    }
  }
}