.inputGroup {
  width: 100%;
}
.fieldSet {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  padding: 10px 0;
  grid-area: fieldset;

  &__radio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 5px;

    &__label {
      text-transform: capitalize;
      font-size: 18px;

    }

    &__input {
      width: 20px;
      height: 20px;
      appearance: unset;

      &:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
      }

      &:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #C2E79D;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
      }
    }
  }
}

.inputGroup__error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  height: 25px;
}

@for $i from 2 through 14 {
  .inputGroup:nth-child(#{$i}) {
    grid-area: input#{$i};
  }
}

.inputGroup__wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 15px 0 0;

  &__input {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 18px;
    padding: 0;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .inputGroup__wrapper__label {
      font-size: 1.15rem;
      cursor: text;
      top: 50%;
      transform: translateY(-25%);
    }

    &:focus {
      ~ .inputGroup__wrapper__label {
        top: 5px;
        font-weight: 500;
        font-size: .9rem;
      }
    }
  }

  &__label {
    position: absolute;
    top: 0;
    display: block;
    transition: all .2s;
    font-weight: 300;
    font-size: 1rem;
    margin-left: 0;
  }

}

.inputGroup__wrapper:has(input[type="checkbox"]) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  & input {
    width: 40px;
    margin-right: 5px;
  }

  & label {
    font-size: 11px;
  }
}

.inputGroup__wrapper:has(input[type="submit"]) {
  position: unset;
  padding: 0;
  & input {
    width: 100%;
    height: 50px;
    border: 1px solid var(--ion-color-dark);
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    background-color: transparent;
    color: var(--ion-color-dark);
    cursor: pointer;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cityWrapper {
    position: relative;

    &__container {
        position: absolute;
        max-height: 150px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(139,139,139);
        padding: 0 3px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        top: 100%;

        &__proposals__item {
            padding: 10px 0;
        }
    }
}