.notation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__price {
    background: var(--client-primary-bg-color);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--ion-color-light);
    gap: 5px;

    &__title {
      font-size: 0.9rem;
      text-decoration: underline;
      padding-left: 3px;
    }

    &__stars {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      padding: 0 3px;
      height: 100%;

      &__star {
        font-size: 1.5rem;
      }
    }
  }

  &__vendor {
    display: flex;
    background: var(--client-primary-bg-color);
    justify-content: center;
    align-items: center;
    width: 100%;

    &__title {
      font-size: 0.9rem;
      text-decoration: underline;
      padding-left: 3px;
    }

    &__bar {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      width: 100%;
      background: #fff;
      padding: 0;
      margin: 0;
      height: 30px;

      &__label {
        color: #000;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
      }

      &__progress {
        height: 10px;
        background: linear-gradient(90deg, rgba(249,0,0,1) 12%, rgba(175,191,10,1) 48%, rgba(69,255,0,1) 100%);
        background-size: 120px;
        width: 100%;
        margin: 0;
      }
    }
  }
}