.myAnnonce {

  &__list {
    margin-top: 3rem;

    &__item:first-child{
      border-top: 1.5px solid var(--border-color);

    }

    &__item{

      &__label{
        padding: 15px 0;
        & h2{
          font-size: 1.3rem;
        }
        & p{
          font-size: 1.1rem;
        }
      }
    }
  }


}