.account {

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    min-height: 100%;
    padding: 1rem;
    font-size: 0.9rem;

    ion-item{
      position: absolute;
      right: 0;
      top:30px;
      --min-height: 0px;
      text-decoration: underline;
    }

    p {
      text-transform: uppercase;
      margin-right: 5px;
    }

    &__containerPro{
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      height: 35%;



      &__infoWrapperPro{
        width: 50%;

        &__logoContainer{
          width: 100%;
          position: relative;
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
            align-items: flex-start;
          flex-direction: column;
          gap: 10px;

          &__logo {
            height: 90px;
            justify-content: flex-start;
            display: flex;
          }

          &__button {
            width: fit-content;
            text-transform: uppercase;
            --background: none;
          }
        }
      }
    }

    &__infoWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;


      &__name{
        flex-direction: column;
      }

      div {

        width: 90%;
        display: flex;
        font-weight: bold;

      }


      &__infoWrapperAdresse {
        flex-direction: column;
      }
    }

    & .inputGroup__wrapper {
      flex-direction: column;

      &__label {
        &:before {
          display: none;
        }
      }
    }
  }

}