.deleteAccount {

  &__container {
    min-height: 75%;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;


    &__textContainer {
      height: 72vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        font-size: 1.2rem;
        margin: 0;
      }


      &__checkbox {

        input {
          width: 20px;
          height: 20px;
        }

        label{
          margin-left: 5px;
          font-size: 1rem;
        }
      }
    }
  }
  &__footer{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    &__button{
      width: 80%;
      margin-bottom: 10px;
      --background: transparent;
      border: 1px solid var(--ion-color-dark);
    }
  }
}