.deleteAccount {

  &__container {
    min-height: 75%;
    padding: 1.2rem;
    font-size: 1.2rem;


    &__textContainer {
      height: 72vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 3rem;
      text-align: justify;

      h2 {
        font-size: 1.2rem;
        margin: 0;
        text-transform: uppercase;
      }


      &__checkbox {

        input {
          width: 20px;
          height: 20px;
        }

        label{
          margin-left: 5px;
          font-size: 1rem;
          text-transform: uppercase;
        }

        & .inputGroup__error{
          display: flex;
          margin-top: 15px;
          justify-content: center;
          font-size: 1.2rem;
        }
      }
    }
  }
  &__footer{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    &__button{
      width: 80%;
      margin-bottom: 10px;
      --background: transparent;
      border: 1px solid var(--ion-color-dark);
    }
  }
}