.category {
 display: flex;
  flex-direction: column;
  justify-content: flex-start;
    align-items: center;
  padding: 1rem;
  position: relative;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    padding: 1rem;
    justify-items: center;
  }

  &__validation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100vw;
    position: sticky;
    bottom: 0;
    left: 0;
    background: var(--ion-background-color);
    & .button {
      background: var(--ion-color-light);
    }
  }
}