.category {
 display: flex;
  flex-direction: column;
  justify-content: flex-start;
    align-items: center;
  padding: 1rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    padding: 1rem;
    justify-items: center;
  }

  &__validation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
  }
}