.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50px;
    background-color: #C2E79D;
    color: whitesmoke;
    font-size: 24px;
    text-transform: uppercase;
}

.form__wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    margin-bottom: 35px;
    gap: 10px;
    grid-template-areas:
                    "fieldset fieldset"
                    "input2 input3"
                    "input4 input4"
                    "input5 input6"
                    "input7 ."
                    "input8 input8"
                    "input9 input9"
                    "input10 input10"
                    "input11 input11"
                    "input12 input12"
                    "input13 input13"
                    "input14 input14";
}