* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --client-primary-bg-color: #C2E79D;
  --pro-primary-bg-color: #a0d3fe;
  --client-text-color: whitesmoke;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: var(--client-primary-bg-color);
  color: var(--client-text-color);
  font-size: 24px;
  text-transform: uppercase;
  position: relative;

  & .header__back__button {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: darkred;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    padding: 0.1rem;
  }
}

.header__container.blue {
  background-color: var(--pro-primary-bg-color);
}

.form__wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  margin-bottom: 35px;
  gap: 10px;
  grid-template-areas:
                    "fieldset fieldset"
                    "input2 input3"
                    "input4 input4"
                    "input5 input6"
                    "input7 ."
                    "input8 input8"
                    "input9 input9"
                    "input10 input10"
                    "input11 input11"
                    "input12 input12"
                    "input13 input13"
                    "cityError cityError"
                    "input14 input14";
}

.city__error {
  grid-area: cityError;
  color: red;
  font-size: 14px;
  margin-top: 5px;
  height: 25px;
}